@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #f8f8f8;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* .van{
   margin-top: 10px;
    max-width: 600px;
    text-align: center;
    color: rgb(236, 195, 120);
    font-weight: 600;
    margin-left: 160px;
    font-size: 20px;
} */

/* chung */
.row {
    margin-left: auto;
    margin-right: auto;
    max-width: 1150px;
}

.clear {
    clear: both;
}

.col {
    float: left;
}

.col-four {
    float: left;
    width: 25%;

}


.col-hafl {
    float: left;
    width: 50%;

}

.col-six {
    float: left;
    width: 16.6666666%;
}

/*  */
body {
    /* line-height: 18px; */
}

.header {
    width: 100%;
    height: 45px;
    background-color: #e7e7e7;
    font-size: 13px;
}

.header ul {
    display: inline-block;
}

.header li {
    display: inline-block;
    padding-top: 13px;
}

.header .left-header {
    float: left;
    display: block;
    padding-left: 100px;

}

.header li a {
    display: block;
    padding-left: 18px;
    padding-right: 18px;
    list-style-type: none;
    text-decoration: none;
    color: #777;
    border-radius: 8px;
}

.header-all li a:hover {
    color: rgb(237, 203, 139);
}


.header .right-header {
    float: right;
    margin-right: 100px;
}

.logo {
    background-color: #fff;
    height: 80px;
}

.logo .logo-left img {
    width: 300px;
    height: 80px;
    padding-left: 150px;

}

.logo .form-control {
    width: 400px;
    height: 45px;
    border-radius: 5px;
    padding: 10px 12px;
    outline: none;
    border: 1px solid #dbdbdb;
}

.logo .form-control:focus {
    border-color: #777;
}

.form {
    padding-top: 20px;
    margin-left: 50px;
}

.form i:first-child {
    font-size: 27px;
    padding-top: 9px;
    padding-right: 16px;
}

.form i {
    padding-top: 16px;
    padding-right: px;
    font-size: 13px;
    color: #333333;
}

.form input {
    border: none;
}

.button-search {
    width: 45px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 20%;
    color: orange;
    opacity: 0.7;
}

.button-search:hover {
    cursor: pointer;
    opacity: 1;
    background-color: rgb(245, 236, 220);
}

.hotline {
    margin-top: 20px;
    margin-left: 90px;
    line-height: 18px;
}

.hotline i {
    padding: 0 20px 0 120px;
    margin-top: 10px;
    font-size: 25px;
    color: orange;
}

.hotline span {
    padding-top: 5px;
}

.shop {
    padding-top: 20px;

}

.shop a {
    color: orange;
    font-size: 27px;
    padding-top: 8px;
    margin-left: 70px;
    text-decoration: none;

}

.shop span {
    padding-top: 12px;
    margin-left: 10px;
}
.menu-above {
    height: 55px;
    clear: both;
    background-color: #f5f5f5;
}

.menu-above-content .menu-content-all {
    padding-top: 20px;
    height: 55px;
    width: 250px;
    border-left: 0.3px solid #bdbdbd;
    border-right: 0.3px solid #bdbdbd;
    border-bottom: 0.3px solid #bdbdbd;
}

.menu-content-all a {
    margin-left: 10px;
    color: #333 ;
}
.menu-above-content i {
    margin-right: 4px;
    font-size: 15px;
    padding-top: 2px;
    margin-left: 16px;
}

.menu-above-content span {
    font-size: 15px;
    font-weight: bold;
}

.menu-above-content .end {
    margin-left: 22px;
}
.type li{
    font-size: 15px;
    margin: 12px 0;
    opacity: 0.5;
}
.book-type{
    background-color: #f8f8f8;
    height: 42px;
}
.type a{
    color: #333;

}
.type .hidden::after{
    content: "/ ";
    padding: 0 15px;
}
.type .last-hidden{
    opacity: 1;
    content: none;
}
.book-buy{
    background-color: #f8f8f8;
}
.container{
    height: 465px;
    padding: 15px;
    background-color: #fff;
}
.book-left img{
    height: 430px;
    width: 294px;  
}
.book-info{
    width: 47%;
    padding-left: 20px;
    float: left;
}

HTML CSS JSResult Skip Results Iframe
EDIT ON
* {
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}

.counter {
    width: 187px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.counter input {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: #fff;
    color:  #ff5722;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #ff5722;
    user-select: none;
}
.des{
    margin-left: 10px;
}
.des h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.author p{
    margin-top: 12px;
    font-size: 14px;
}
.author p span{
    color: #eb7c26;
    margin-right: 10px;

}
.price p:first-child{
    color: #FE642E;
    font-size: 25px;
    font-weight: bold;
    margin: 12px 0;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 1;
}
.price p{
    opacity: 0.7;
    font-size: 12px;
    margin: 8px 0;
}
.price span{
    color: #FE642E;
    font-weight: bold;
    opacity: 1;
}
.call{
    margin: 16px 0 0px 0;
    font-size: 15px;
}
.call span{
    
    color: #FE642E;
    font-weight: bold;
}
.information {
    margin-top: 25px;

}
.information p{
    font-size: 16px;
    font-weight: bold;
    
}
.information ul li{
    font-size: 15px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
}
.book-right{
    float: right;
    width: 23%;
    margin-top: 20px;
    margin-right: 30px;
}
.book-right .func{
    border: 1.5px solid #f7f7f7;
    margin-bottom: 15px;
 
}
.add-to-fav{
    margin: 15px 0;
}
.func-box1{
    font-size: 15px;
}
.func-box1 ul{
    margin-left: 10px;
}
.func-box1 p {
    color: #000000;
}
.func-box1  i{
    float: left;
    margin-top: 4.7px;
    margin-right: 15px;
    font-size: 15px;
}
.gold-member{
    margin: 15px 0;
}
.shipping-free{
    margin: 15px 0;
}
.content{
    margin-top: 30px;
}
.detail{
    background-color: #fff;
    padding: 15px;
}
.detail p{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}
.detail-1{
    border: 1px solid #f1f1f1;
}
.detail-1 ul li{
    font-size: 14px;
    padding: 10px;   
}
.detail-1 ul li:nth-child(2n+1){
    background-color: #f7f7f7;
}
.destion-1 h2{
    font-weight: bold;
    font-size: 20px;
    color:#FF8C00 ;
    text-align: center;
    margin-bottom: 20px;
}
.content-end{
    margin-top: 40px;
    
}
.gt{
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
}
.destion{
    background-color: #fff;
}
.destion .text1 p{
    margin-left: 100px;
}
.destion-1 p{
    margin-bottom: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.text2 p{
    margin-left: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    max-width: 900px;
    text-align: center;
    margin-top: 30px;
    line-height: 30px;
    color: #333333;
}

.footter{
    background-color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}
.footer-content{
    padding-top: 10px;
}
.footer-content h1{
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: inherit;
}
.footer-content p{
    padding: inherit;
    font-size: 12px;
    color: #333333;
}
.footter-below{
    background-color: #262626;
    height: 250px;
    color: white;
    
}
.footter-below-content{
    background-color: #262626;
    clear: both;
    padding-top: 38px;
}
.footter-below-content h3{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 17px;
}
.footter-below-content p{
    font-size: 13px;
    line-height: 24px;
    color: #aaa;
    margin: 0 0 5px;
}
.footter-below-content a{
    color: #aaa;
    line-height: 30px;
    font-size: 14px;

}
.footter-below-content a:hover{
    color: rgba(13, 82, 214, 1);
}


.footter-below-content .s1{
    width: 570px;
}
.footter-below-content .s2{
    width: 270px;
}
a.buy-now {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
    background-color: rgba(0, 0, 0, 0.416);
    color: #fff;
    width: 173px;
    padding: 10px 0px;
    position: absolute;
    bottom: -70px;
    left: 0px;
    font-weight: bold;
}
.product-item:hover a.buy-now{
    bottom: 0px;
    transition: ease-in-out 0.25s;
}







